<div class="contenido">
  <h1>RECETAS GRATIS</h1>
  <img class="imgPrincipal" src="{{recetas.imgPrincial}}" alt="">
  <br><br>
  <p>
    ¿A quién no le gustan los postres? Y por ello no nos referimos solamente a comidas azucaradas. En el mundo culinario
    podemos encontrar muchos tipos de postres, desde tartas hasta sorbetes de frutas deliciosas. En Cocina Casera y Fácil
    te traigo los mejores postres caseros y fáciles que puedes hacer tu mismo sin necesidad de ser un experto pastelero.
  </p>
  <p>
    Estas recetas te pueden ayudar a poner un punto final inolvidable a tus menús más importantes para tu familia o amigos.
  </p>


</div>

