<p> Recetas de cocina</p>
<header>



  <h1>Bienvenido</h1>

  <form action="search.php">

    <input type="text">

    <input type="submit" value="Buscar">

  </form>

</header>
<header>

  <nav>

    <a href="/">Inicio</a> -

    <a href="/recipes">Recetas</a> -

    <a href="/contact">Contáctame</a>

  </nav>



  <h2>Tabla de contenidos</h2>

  <ul>

    <li>Ingredientes</li>

    <li>Proceso</li>

    <li>Commentarios</li>

  </ul>

</header>

<article>

  <header>

    <h1>RECETAS GRATIS</h1>

    <p id="intro">Si el mundo de la cocina te fascina, en RecetasGratis descubrirás una infinidad de recetas riquísimas que deleitarán incluso a los paladares más exigentes. En nuestra web encontrarás todo tipo de recetas de cocina capaces de sorprender a los paladares más exquisitos. Contamos con cocineros experimentados en todos los ámbitos de la cocina que trabajan para ofrecerte las mejores recetas caseras, fáciles y rápidas de hacer.
      Entrantes, increíbles aperitivos, todo tipo de ensaladas, pastas, sopas, arroces, carnes, pescados, repostería... RecetasGratis sorprende con una gran variedad de recetas de cocina fáciles a la vez que gustosas, que te dejarán sin palabras. Encontrarás recetas sanas de varias cocinas del mundo: española, colombiana, argentina, mexicana, peruana, chilena, italiana, etc.

      En nuestra web encontrarás recetas de cocina casera ideales para hacer platos para todos los gustos y dietas: vegetarianos, veganos, celiacos, alérgicos al huevo, sin azúcar... Bastará con que decidas cuál de nuestras recetas quieres hacer y te pongas a ello.</p>

  </header>


</article>
