<div id="postre" class="comida" data-ride="cake">

      <img src="assets/Img/cheese-cake.jpg"
           width="500" height="250">

        <h5>Iniciar encendiendo el horno a 160º Centígrados o 350º F
          Separar las claras de las yemas y batir las claras con 1 cuchara de azúcar hasta que quede a punto nieve o levante picos.
          Mezclar los ingredientes líquidos y agregar los sólidos de a poco. Batir por unos minutos hasta unir los ingredientes.
          Mezclar las claras a punto nieve con el resto de la preparación de a poco para no quitar el volumen de la preparación.
          Llevar a horno precalentado a 160° C o 350°F por 20 a 30 minutos, o hasta introducir un palillo o la punta de un cuchillo y esta salga seca.
          Servir acompañado de frutas o usar el pastel para rellenar o decorarlo con crema.
</h5>

      </div>








